<section id="main-content" class="section hero">
  <div class="hero-inner">
    <div class="search-house {{settings.search_style}}">
      {{#if settings.hero_text}}
        <h1>{{#if settings.use_dc}}{{dc settings.hero_text}}{{else}}{{settings.hero_text}}{{/if}}</h1>
      {{else}}
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      {{/if}}
            {{search submit=false instant=settings.instant_search class='search search-full'}}
            {{#if settings.search_text}}
              {{#if settings.use_dc}}
              <script>document.getElementById("query").placeholder = "{{dc settings.search_text}}";</script>
              {{else}}
                <script>document.getElementById("query").placeholder = "{{settings.search_text}}";</script>
                 {{/if}}
              {{/if}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
                <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
                <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
              </svg>
    </div>
  </div>
</section>
<div class="container article">
  {{#if settings.call_out}}
<div class="container__announcements">
    <div class="container__text">
     <p><b>
  {{#if settings.use_dc}}{{dc settings.call_out_first_text}}{{else}}{{settings.call_out_first_text}}{{/if}}</b>
   {{#if settings.use_dc}}{{dc settings.call_out_text}}{{else}}{{settings.call_out_text}}{{/if}}
   <a href="{{settings.call_out_link}}"><b>
    {{#if settings.use_dc}}{{dc settings.call_out_link_text}}{{else}}{{settings.call_out_link_text}}{{/if}}
   </b></a>
     </p>
   </div>
</div>
{{/if}}
 {{breadcrumbs}}
  <h1 class="{{#if settings.request_page_information}}no-margin{{/if}}">{{#if settings.request_page_title}}
    {{#if settings.use_dc}}{{dc settings.request_page_title}}{{else}}{{settings.request_page_title}}{{/if}}{{else}}
    {{t 'submit_a_request'}}{{/if}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>
    {{#if settings.request_page_information}}
  <div id="request-info" style="display:none">
    {{#if settings.use_dc}}{{dc settings.request_page_information}}{{else}}{{settings.request_page_information}}{{/if}}
  </div>
  <script>
    let infoPanel = document.getElementById('request-info');
    let infoContent = infoPanel.textContent;
    infoPanel.innerHTML = infoContent;
    infoPanel.style.display = "block"
  </script>
  {{/if}}


  <div id="main-content" class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>
{{#if settings.hide_cta_request}}
<style>
  .footer-cta-wrap {
    display: none!important;
  }
</style>
{{/if}}
